{% extends "panelbase.html" %}
{% block body_block %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

        <h2>Create a new Bot</h2>
    </div>

    <div class="col-lg-5">
        <form method="post" enctype="multipart/form-data" action="{% url 'user:userpanel:createBot' %}">
            {% csrf_token %}
            <div class="panel border border-primary rounded p-4">
                <div class="panel-heading">
                    <h3 class="panel-title">Bot Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="c_name">Bot Name</label>
                        <input type="text" name="bot_name" class="form-control w-50" placeholder="Enter Bot Name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="c_desc">Bot Description</label>
                        <textarea type="text" name="bot_desc" class="form-control"
                            placeholder="What is your bot purpose?"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="lang">Language</label>
                            </div>
                            <select class="custom-select" id="lang" name="lang_code" required>
                                <option value="en-us" selected>English-US</option>
                                <option value="en-uk">English-UK</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <input class="btn btn-primary btn-lg btn-block mt-4" type="submit" value="Create">
        </form>
    </div>

</main>


{% endblock %}