{% extends "panelbase.html" %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/magnific-popup.css' %}">
<!-- Circle CSS-->
<link rel="stylesheet" href="{% static 'dashboard/css/circle.css' %}">
<!-- Chatbot -->
<link rel="stylesheet" href="{% static 'dashboard/css/chatbot.css' %}">
<!-- Typography CSS -->
<link rel="stylesheet" href="{% static 'dashboard/css/typography.css' %}">
<!-- Style CSS -->
<link rel="stylesheet" href="{% static 'dashboard/css/c_style.css' %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'dashboard/css/responsive.css' %}">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
   
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h2>Edit {{bot.bot_name}}</h2>
   </div>


   <div class="container pt-4 pb-1">
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8">
            <h4 class="text-uppercase" style="margin-top: 0;">Add details as a Paragraph</h4>
            <form action="{% url 'user:userpanel:editBot' bot.id %}" method="post">
               {% csrf_token %}
               <div class="align-items-center justify-content-center">
                  
                  <textarea name="bot_paragraph" id="paragraph" class="form-control subscription-email"
                     style="min-height:400px;width: 100%; height: 100%;">{% if bot.paragraph %}{{bot.paragraph}}{% endif %}</textarea>
               </div>
               <div class="text-right mt-1">
                  <input type="submit" class="btn btn-primary pl-2 pr-2" value="Save and Test"></input>
               </div>
            </form>
         </div>
      </div>
   </div>

   <div id="body">
      <div id="chat-circle" class="btn btn-raised">
         <i class="ion-chatbubble-working"></i>
      </div>
      <div class="chat-box">
         <div class="chat-box-header">
            <h5 class="title">ChatBot</h5>
            <span class="chat-box-toggle"><i class="ion-close-round"></i></span>
         </div>
         <div class="chat-box-body">
            <div class="chat-box-overlay">   
            </div>
            <div class="chat-logs">
            </div>
            <!--chat-log -->
         </div>
         <div class="chat-input">
            <form>
               <input type="text" id="chat-input" placeholder="Send a message..."/>
               <button type="submit" class="chat-submit" id="chat-submit"><i class="ion-ios-paperplane"></i></button>
            </form>
         </div>
      </div>
   </div>
   <!--=================================
      Chatbot -->
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <!-- Owl Carousel -->
   <script src="{% static 'dashboard/js/owl.carousel.min.js' %}"></script>
   <!-- Wow -->
   <script src="{% static 'dashboard/js/wow.min.js' %}"></script>
   <!-- App Min -->
   <script src="{% static 'dashboard/js/app.min.js' %}"></script>
   <!-- Circle -->
   <script src="{% static 'dashboard/js/circle.js' %}"></script>
   <!-- Chatbot -->
   <script src="{% static 'dashboard/js/chatbot.js' %}"></script>
   <!-- main -->
   <script src="{% static 'dashboard/js/main.js' %}"></script>
   <!-- Custom -->
   <script src="{% static 'dashboard/js/custom.js' %}"></script>



</main>
{% endblock %}